<div class="header-component">
  <div class="d-flex justify-content-between" style="height: 100%">
    <img src="../../../assets/images/jplogl.svg" alt="" class="jplogo" />
    <div class="d-flex justify-content-between">
      <div class="header-content">
        <a routerLink="converter">CONVERTER</a>
        <a routerLink="files">BIONIC FILES</a>
        <button
          mat-icon-button
          class="btn_logout"
          aria-label="Example icon button with a menu icon"
          (click) = "logout()"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
